<!DOCTYPE html>
<html>

<body style="font-size:12px;">
    <table style="margin: 15px; width: 100%;">
        <tr>
            <td align="center">
                <h2><b>Tiku Pay-$tikuPayType</b></h2>
                <h3 style="line-height: .25px;"><b><u>Employee No.:$employeeNo</u></b></h3>
            </td>
        </tr>
        <tr>
            <td style="margin-top:25px; text-align: justify;">
                <table width="100%">
                    <tr>
                        <td>
                            As per the recommendations made by Tiku Committee & in accordance with the provision of HEALTH & FAMILY WELFARE DEPARTMENT'S G.R. NO.:
                            <span class="resonumber">GHS-1094-2842-T</span> dated <span span="resodate">17/10/1994</span> and <span class="resonumber">GHS-1097-981-T</span> dated <span span="resodate">15/10/1997 </span> respectively & the following amendments
                            made time to time,
                            <span class="empName"> $employeeName</span>
                            <span class="empDesi">$designation, $officeName</span> on completion of
                            <span class="compYear">$tikuPayYear </span>years of service in the pay scale of 
                            <span class="curPayScale">$cPayScale</span>.
                            <span class="empGender">$heshe</span> is given benefit of the laid down
                            <span class="eventName">$tikuPayScale</span> of 
                            <span class="newPayScale">$newPayScale</span> as on
                            <span span="eventeDate">$effectiveDate.</span>
                            <span class="empGender">$heshe</span> has given option to fix pay from
                            <span span="optionDate">$optionDate</span> under Rule 12 of GCS (Pay) Rules, 2002 and
                            <span class="empGender">$gender</span> pay is fixed at Rs. 
                            <span class="basicPay">$basicPay</span> and
                            <span class="empGender">$gender</span> next date of increment will be 
                            <span span="nextincrmtdate">$nextIncrDate</span>.
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div style="height: 15px;"></div>
                        </td>
                    </tr>
                   #if($rePrintCounter >=2)
                        	<tr>
                        		<td>
                        			Print Date: <span class="printDate"> $endorsementPrintDate</span><br />
                            		Reprint Date: <span class="repprint-date">$endorsementReprintDate</span><br/>
                            		Reprint Count: <span class="Reprintcount">$rePrintCount</span> <br/>
                            		Reprint Remarks: <span class="Remarks">$remarks</span>
                         		</td>
                        	</tr> 
                         #else
                         	<tr>
                         		<td>
                         		    Print Date: <span class="printDate"> $endorsementPrintDate</span><br />     
                         		   <!--   Print Count: <span class="printcount">$rePrintCount</span> <br/> -->
                         		</td>
	                    	</tr>
	                     #end	
                    <tr>
                        <td>
                            <div style="height: 20px;"></div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div style="height: 20px;"></div>
                        </td>
                    </tr>
                    <tr>
                        <td>Place : Gandhinagar</td>
                    </tr>
                    <tr>
                        <td>
                            <div style="height: 15px;"></div>
                        </td>
                    </tr>
                    
                       <tr>
                        <td>
                            <div style="height: 15px;"></div>
                        </td>
                    </tr>
                    
                       <tr>
                        <td>
                            <div style="height: 15px;"></div>
                        </td>
                    </tr>
                    
                     <tr>
                        <td>
                            <div style="height: 15px;"></div>
                        </td>
                    </tr>
                    
                    
                    
                    
                    <tr>
                        <td>
                            <table cellpadding="0" cellspacing="0" width="100%">
                                <tr>
                                    <td style="width:30%;text-align:center;"></td>
                                    <td style="width:30%;text-align:center;">
                                        $authorizeBy <br />
                                        Authorized by Name <br /> 
                                        Accounts Officer <br /> 
                                        Pay Verification Unit(DAT)<br /> 
                                        Finance Department
                                    </td>
                                    <td style="width:30%;text-align:center;">
                                        Issued by, <br /> 
                                        Accounts Officer <br /> 
                                        Pay Verification Unit(DAT) <br /> 
                                        Finance Department <br />
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div style="height: 15px;"></div>
                        </td>
                    </tr>
                     <tr>
                        <td>
                            <div style="height: 15px;"></div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Remarks: $authorizerRemarks
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</body>

</html>