<!DOCTYPE html>
<html>
<body style="font-size:12px;">
	<table width="100%" text-align="left" style="padding: 1%;">
		<tr>
			<td colspan="2">Statement of fixation of pay under Gujarat Civil Service (Revision of Pay) Rules, 2009 (See
				Para-B of the Government Resolution, Finance Department No. PGR-1009-3-Pay Cell(M) dated 20th March,
				2009)</td>
		</tr>
	</table>
	<table style="padding: 1%;" width="100%">
		<tr>
			<td width="3%">1</td>
			<td width="70%">Name of the Government Servant</td>
			<td width="3%">:</td>
			<td width="24%">$GOV_SERVANT_NAME</td>
		</tr>
		<tr>
			<td>2</td>
			<td>Designation of the post in which pay is to be fixed as on 01/01/2006</td>
			<td>:</td>
			<td>$GOV_SERVANT_DESIGNATION_2006</td>
		</tr>
		<tr>
			<td>3</td>
			<td>Status(substantive/officiating)</td>
			<td>:</td>
			<td>$GOV_SERVANT_STATUS</td>
		</tr>
		<tr>
			<td valign="top">4</td>
			<td>Pre-revised scale(s) of applicable for the post [in case more than one scale of pay is applicable for
				the post and these have been merged in pursuance of the recommendation of the Sixth
				CPC in a single revised scale of in which the employee was actually drawing his pay should be specified]
			</td>
			<td>:</td>
			<td>$GOV_SERVANT_PRE_REVISED_SCALE</td>
		</tr>
		<tr>
			<td>5</td>
			<td>Existing emoluments as on 01/01/2006</td>
			<td>:</td>
			<td>$EXISTING_EMOLUMENTS_2006</td>
		</tr>
		<tr>
			<td></td>
			<td>(a) Basic Pay (including Stagnation increments, if any)</td>
			<td>:</td>
			<td>$BASIC_PAY_2006</td>
		</tr>
		<tr>
			<td></td>
			<td>(b) Dearness Pay</td>
			<td>:</td>
			<td>$DEARNESS_PAY_2006</td>
		</tr>
		<tr>
			<td></td>
			<td>(c) Dearness Allowance applicable</td>
			<td>:</td>
			<td>$DEARNESS_ALLOWANCE_2006</td>
		</tr>
		<tr>
			<td></td>
			<td>(d) NPPA,if applicable</td>
			<td>:</td>
			<td>$NPPA_2006</td>
		</tr>
		<tr>
			<td></td>
			<td>(e) Total existing emoluments [(a) to (d)]</td>
			<td>:</td>
			<td>$TOTAL_EXISTING_EMOLUMENTS_2006</td>
		</tr>
		<tr>
			<td valign="top">6</td>
			<td>Revised Pay Band and Grade Pay corresponding to the pre-revised scale shown at St. No.4 above.</td>
			<td>:</td>
			<td>$REVISED_PAY_BAND_GRADE_PAY_2006</td>
		</tr>
		<tr>
			<td valign="top">7</td>
			<td>Pay in the revised Pay Band/Scale in which pay is to be fixed as per fitments table attached at
				Annex-IV.</td>
			<td>:</td>
			<td>$PAY_IN_PAY_BAND_2006</td>
		</tr>
		<tr>
			<td valign="top">8</td>
			<td>Grade Pay to be applied in terms of Rule 4 of GCS (Revision of Pay), 2009</td>
			<td>:</td>
			<td>$GRADE_PAY_2009</td>
		</tr>
		<tr>
			<td valign="top">9</td>
			<td>Stepped up pay with reference to the revised pay of junior, if applicable [Notes 4 and 6 below Rule
				7(1) ofGCS(Revision of Pay),2009] Name and Pay of the junior also to be indicated distinctly</td>
			<td>:</td>
			<td>$STEPPED_PAY_2006</td>
		</tr>
		<tr>
			<td valign="top">10</td>
			<td>Revised pay with reference to the Substantive Pay in cases where the pay fixed in the officiating post
				is lower than the pay fixed in the substantive post if applicable [Sub Rule(2) of Rule 7]</td>
			<td>:</td>
			<td>$REVISED_PAY_2006</td>
		</tr>
		<tr>
			<td valign="top">11</td>
			<td>Personal Pay, if any [Notes 3 and 5 below Rule 7(1)]</td>
			<td>:</td>
			<td>$PERSONAL_PAY_2006</td>
		</tr>
		<tr>
			<td>12</td>
			<td>Revised emoluments after fixation</td>
			<td>:</td>
			<td>$REVISED_EMOLUMENTS_2006</td>
		</tr>
		<tr>
			<td></td>
			<td>(a) Pay in the Revised Pay Band/Pay Scale</td>
			<td>:</td>
			<td>$REVISED_PAY_BAND_2006</td>
		</tr>
		<tr>
			<td></td>
			<td>(b) Grade Pay</td>
			<td>:</td>
			<td>$GRADE_PAY_2006</td>
		</tr>
		<tr>
			<td></td>
			<td>(c) Special Pay, if admissible</td>
			<td>:</td>
			<td>$SPECIAL_PAY</td>
		</tr>
		<tr>
			<td></td>
			<td>(d) Personal Pay if admissible</td>
			<td>:</td>
			<td>$PERSONAL_PAY_ADMISSIBLE</td>
		</tr>
		<tr>
			<td></td>
			<td>(e) Non-Practicing Allowance,if admissible (Sub Rule 1(B) of Rule 7)</td>
			<td>:</td>
			<td>$NON_PRACTICING_ALLOWANCE_2006</td>
		</tr>
		<tr>
			<td valign="top">13</td>
			<td>Date of Next increment(rules 9 & 10) and pay after grant of increment</td>
			<td>:</td>
			<td>$DATE_OF_NEXT_INC_2006</td>
		</tr>
	</table>
	<table CELLSPACING=0 width="100%" style="padding: 1%;">
		<tr>
			<td>Pay After Increment</td>
		</tr>
		<tr>
			<th style="border: 1px solid; padding:7px">Date Of Increment</th>
			<th style="border: 1px solid; border-left-width: 0; padding:7px">Pay in the Pay Band/Scale </th>
			<th style="border: 1px solid; border-left-width: 0; padding:7px">Grade Pay (wherever applicable)</th>
		</tr>
		#foreach($increment in $PAYHISTORY)
		<tr>
			<td style="border: 1px solid; border-top-width: 0; padding:7px">$increment['PAY_AFTER_INC_TABLE']</td>
			<td style="border: 1px solid; border-top-width: 0; border-left-width: 0; padding:7px">
				$increment['PAY_IN_PAY_BAND_SACLE_TABLE']</td>
			<td style="border: 1px solid; border-top-width: 0; border-left-width: 0; padding:7px">$increment['GRADE_PAY_APPLICABLE']
			</td>
		</tr>
		 #end
	</table>
	<table width="100%" style="padding: 1%;">
		<tr>
			<td width="3%" valign="top">14</td>
			<td width="70%">Any other relevant information</td>
			<td width="3%">:</td>
			<td width="24%">$ANY_OTHER_INFO</td>
		</tr>
	</table>
	<table width="100%" style="padding: 1%;">
		<tr>
			<td>Date : $DATE</td>
		</tr>
	</table>
</body>

</html>