<!DOCTYPE html>
<html>
<body style="font-size:12px;">
    <table style="margin: 15px; width: 100%;">
    <tr>
        <td align="center">
            <h2><b><u>Shetty Pay</u></b></h2>
            <!-- <h3 style="line-height: .25px;"><b><u>Employee No.:$employeeno</u></b></h3> -->
        </td>
    </tr>
    <tr>    
        <td style="margin-top:25px; text-align: justify;">
            <table width="100%">
                <tr>
                    <td>
                        <div style="text-align: justify;">
                        The pay revision as per the recommendations of Shetty Pay Commission for Non-judicial staff of the subordinate courts of the State in 
                        accordance with provisions of LEGAL DEPARTMENT'S G.R. NO. : <span class="resonumber">________________________</span>
                        dated <span span="resodate">________________________</span> initial pay of 
                        <span class="empname">      $salutation 
                             	$firstName  
                             	$middleName  
                             	$surname  
                             	</span>
                        <span class="empdesi">$designation</span>, 
                        <span class="ddooffice"> $officeName </span>
                        is fixed at Rs. <span class="payscalevalue">$last5thPayCommissionBasic</span>  
                        in pay scale of <span class="scale">$last5thPayCommissionScale</span> 
                        W.E.F. <span class="evnteffectivedate">$effectiveDate</span> &
                        <span span="gender"> $gender </span>next date of increment will be
                        <span span="nextincrmtdate">$nextIncDate. </span>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div style="height: 15px;"></div>
                    </td>
                </tr>
                <tr>
                    <td>Print Date: <span class="print-date"> $endorsementPrintDate</span>
                        <br></br>
                        $endorsementReprintDateLabel
                        <span class="repprint-date">$endorsementReprintDate </span>
                        <br></br>$endorsementReprintCountLabel
                        <span class="Reprintcount">$endorsementReprintCount</span>
                        <br></br>$endorsementReprintRemarkLabel
                        <span class="ReprintRemark">$endorsementReprintRemark</span>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div style="height: 20px;"></div>
                    </td>
                </tr>
                <tr>
                    <td>Place : Gandhinagar</td>
                </tr>
                
                
                
                <tr>
                        <td>
                            <div style="height: 15px;"></div>
                        </td>
                    </tr>
                    
                       <tr>
                        <td>
                            <div style="height: 15px;"></div>
                        </td>
                    </tr>
                    
                       <tr>
                        <td>
                            <div style="height: 15px;"></div>
                        </td>
                    </tr>
                    
                     <tr>
                        <td>
                            <div style="height: 15px;"></div>
                        </td>
                    </tr>
                           
                
                
                
                
                <tr>
                    <td>
                        <table cellpadding="0" cellspacing="0" width="100%">
                            <tr>
                                <td style="width:30%;text-align:center;"></td>
                                <td style="width:30%;text-align:center;">
                                    <p style="margin: 0;">$authBy</p>
                                          <p style="margin: 0;"> Accounts Officer</p>
                                          <p style="margin: 0;">Pay Verification Unit</p>
                                          <p style="margin: 0;">Finance Department</p>
                                </td>
                                <td style="width:30%;text-align:center;">
                                     <p style="margin: 0;">Issued by,</p>
                                          <p style="margin: 0;">Accounts Officer</p>
                                          <p style="margin: 0;">Pay Verification Unit</p>
                                          <p style="margin: 0;">Finance Department</p>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div style="height: 15px;"></div>
                    </td>
                </tr>
                <tr>
                    <td>
                        Remarks: $remark
                    </td>
                </tr>
            </table>
            </td>
        </tr>
    </table>
</body>
</html>