<!DOCTYPE html>
<html>

<body>
    <table width="90%" align="center" style=" font-family:Arial, Helvetica, sans-serif;  text-align: justify;font-size:13px;">
        <tr>
            <td style="border: 1px solid;">
                <h2 style="text-align: center;"><b>Office Name</b></h2>
                <h3 style="line-height: 100px;text-align: center;"><b>Office Address</b></h3>
                <h3 style="line-height: .25px;text-align: center;"><b>Office order for Reversion Event Name</b></h3>
            </td>
        </tr>
        <tr>
            <td style="border: 1px solid;padding: 8px;">Transaction No.: 120120120 <span style="float: right;">Date: 27th Jan. 2020</span></td>            
        </tr>
        <tr>
            <td>
                <br>
                Read: <br>
                <ol>
                    <li>Order No.:Enter by User</li>
                    <li>Gujarat Civil Services (Pay) Rules, 2002</li>
                    <li>Option Under Rules given by Mr.HARDIKKUMAR CHUNILAL NENUJI ,Account Officer-Class II, Employee No.: 1000011111, Office of Registrar, Gandhinagar. Employee Name, Employee No, Designation & office name</li>
                </ol>
                Sub: Pay Fixation under Gujarat Civil Services (pay) rules, 2002 for Reversion. Based on event name
                <br><br>
                Order:
                In Pursuance Of the rule 15 (read with rule 39) of the Gujarat Civil Services (Pay) Rules, 2002 and other orders issued from time to time in this behalf, pay of Mr.HARDIKKUMAR CHUNILAL NENUJI, Account Officer-Class II, Employee No.: 1000011111; is fixed as under with effect from 01.10.2017 Event Effective Date<br><br>
            </td>
        </tr>
    </table>
    <table width="90%" align="center" style=" font-family:Arial, Helvetica, sans-serif;  text-align: justify;font-size:13px;border: 1px solid black;border-collapse: collapse;">
        <tr style="text-align: center;">
            <th colspan="2" style="border: 1px solid;padding: 10px;">Existing Pay Details</th>
            <th colspan="2" style="border: 1px solid;padding: 10px;">Revised Pay Details</th>
        </tr>
        <tr>
            <td style="border: 1px solid;padding: 10px;">Pay Level</td>
            <td style="border: 1px solid;padding: 10px;">6</td>
            <td style="border: 1px solid;padding: 10px;">Pay Level</td>
            <td style="border: 1px solid;padding: 10px;">5</td>
        </tr>
        <tr>
            <td style="border: 1px solid;padding: 10px;">Vertical Range of Pay Level</td>
            <td style="border: 1px solid;padding: 10px;">35400-112400</td>
            <td style="border: 1px solid;padding: 10px;">Vertical Range of Pay Level</td>
            <td style="border: 1px solid;padding: 10px;">29200-92300</td>
        </tr>
        <tr>
            <td style="border: 1px solid;padding: 10px;">Cell Id</td>
            <td style="border: 1px solid;padding: 10px;">6</td>
            <td style="border: 1px solid;padding: 10px;">Cell Id</td>
            <td style="border: 1px solid;padding: 10px;">10</td>
        </tr>
        <tr>
            <td style="border: 1px solid;padding: 10px;">Pay in the Pay Level</td>
            <td style="border: 1px solid;padding: 10px;">41100</td>
            <td style="border: 1px solid;padding: 10px;">Pay in the Pay Level</td>
            <td style="border: 1px solid;padding: 10px;">38100</td>
        </tr>
        <tr>
            <td style="border: 1px solid;padding: 10px;">Next Date of Increment</td>
            <td style="border: 1px solid;padding: 10px;">01.07.2018</td>
            <td style="border: 1px solid;padding: 10px;">Next Date of Increment</td>
            <td style="border: 1px solid;padding: 10px;">01.07.2018</td>
        </tr>
    </table>
    <table width="90%" align="center" style=" font-family:Arial, Helvetica, sans-serif;  text-align: justify;font-size:13px;">
        <tr>
            <td>
                <br>
                (2)Mr.HARDIKKUMAR CHUNILAL NENUJI ,Account Officer-Class II will be entitled to draw Pay at Rs.38100 in the Pay Level – 6, Cell 1 with effect from 01/10/2017.<br>
                (3))Pay Fixation is subject to recovery of the over payment if it comes to the notice at the time of verification of the pay by pay verification authority. (If PVU event)<br>
                (4)Other allowances will be paid as per Govt. orders issued from time to time.<br>
            </td>
        </tr>
        <tr style="text-align: center;">
            <td style="float: right;">Name of Approver<br>
                Approver's Designation
            </td>
        </tr>
        <tr>
            <td>
                Copy forwarded with compliments to:Select/Enter by user Select
                <ol>
                    <li>The Pay and Account Officer,District Treasury Office, Gandhinagar</li>
                    <li>Bill Clerk(two copies)</li>
                    <li>Mr.HARDIKKUMAR CHUNILAL NENUJI,Account Officer-Class II Office of Registrar, Gandhinagar.</li>
                    <li>Service book/ service roll of person concerned with option.</li>
                    <li>Office Order file.</li>   
                    <li>Accounts Officer, Pay Verification Unit.</li>
                </ol>
            </td>
        </tr>
        
    </table>
</body>
</html>